{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title %} {{ object.description }} Details {% endblock %}
{% block preloader %} Infrastructure Details Loading...{% endblock %}
{% block content %}
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-8 align-self-left">
                <a href="{% url 'ams:assets-list' %}" class="btn btn-primary pull-left" role="button">Go Back</a>&nbsp;&nbsp;<h3 class="text-themecolor pull-left">{{ object.description }} Details</h3>
            </div>
        </div>
        <div class="row">
                    <!-- column -->
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title m-b-0">Details</h5>
                        </div><p>
                        <div class="card-text">
                            Description: {{ object.description }} <br>
                            Status: {{ object.status }} <br>
                            Comments: {{ object.comments }}<br>
                            Archived On: {{ object.deleted_at }} <br>
                            Date Added: {{ object.date_added }}<br>
                            <hr>
                            <a href="{% url 'ams:assets-infrastructure-update' slug=infrastructure.slug %}" class="btn btn-default">Edit</a>
                            <a href="{% url 'ams:assets-infrastructure-restore' slug=infrastructure.slug %}" class="btn btn-success pull-right" data-target="#deleteModal" data-toggle="modal">Restore</a>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModaTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModal">Restore {{ object.description }}?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'ams:assets-infrastructure-restore' slug=infrastructure.slug %}" method="POST" class="form-horizontal form-material">
                                            {% csrf_token %}
                                            Are you sure you want to restore this asset?
                                            <hr>
                                            <button class="btn btn-success">Yes</button>
                                            <button class="btn btn-default" data-dismiss="modal">No</button>

                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title m-b-0">Assigned To</h5>
                        </div><p>
                        <div class="card-text">
                        {% if object.staff.all %}
                        {% for staff in object.staff.all %}
                            {{ staff.first_name }} {{ staff.last_name }} <br>
                        {% endfor %}
                        {% else %}
                        This infrastructure is not assigned to any staff!
                        {% endif %}
                                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
    </div>
{% endblock %}