{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load ams_tags %}
{% block title %} Settings {% endblock %}
{% block preloader %} Settings Loading {% endblock %}
{% block content %}
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Settings</h3>
                    </div>
                    {% if user.is_superuser %}
                    <div class="col-md-7 align-self-left">
                        <h6 class="btn waves-effect waves-light pull-right" data-toggle="modal" data-target="#allUsers">All Users</h6>
                    </div>
                    {% endif %}
                                <!-- Modal -->
                        <div class="modal fade" id="allUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Users</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">


                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Username</th>
                                                            <th>Active</th>
                                                            <th>Last Login</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if object_list %}
                                                    {% for user in object_list %}
                                                        <tr>
                                                            <td><a href="#{# {% url 'ams:department-detail' slug=department.slug %} #}">{{ user.username }}</a></td>
                                                            <td>{{ user.is_active }}</td>
                                                            <td>{{ user.last_login }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                        <h3>There is no users here!.</h3>
                                                    {% endif %}
                                                    </tbody>

                                                </table>
                                            </div>

                                    </div>
                                            <!--<div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>-->
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-4 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                   {% if user.profile.all %}
                                       {% for profile in user.profile.all %}
                                            <div class="panel-heading">

                                                <div class="panel-title">

                                                    <a href="#userDetails" data-toggle="collapse">
                                                        <h6 class="text-center">User Details</h6>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="userDetails">
                                                <form class="form-horizontal form-material">
                                                    <div class="form-group">
                                                        <label class="col-md-12 font-15">Full Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" disabled placeholder="{{ profile.first_name }} {{ profile.last_name }}" class="form-control form-control-line">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                            <label class="col-md-12 font-15">Email</label>
                                                            <div class="col-md-12">
                                                                <input type="text" disabled  placeholder="{{ profile.email }}" class="form-control form-control-line">
                                                            </div>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endfor %}
                                   {% else %}
                                       <div class="panel-heading">

                                                <div class="panel-title">

                                                    <a href="#userDetails" data-toggle="collapse">
                                                        <h6 class="text-center">Create Profile</h6>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="userDetails">
                                                {% profile_form %}
                                                <!--
                                                <form class="form-horizontal form-material">
                                                    <div class="form-group">
                                                        <label class="col-md-12 font-15">Full Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" disabled placeholder="{# {{ profile.first_name }} {{ profile.last_name }} #}" class="form-control form-control-line">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                            <label class="col-md-12 font-15">Email</label>
                                                            <div class="col-md-12">
                                                                <input type="text" disabled  placeholder="{# {{ profile.email }} #}" class="form-control form-control-line">
                                                            </div>
                                                    </div>
                                                </form>
                                            -->
                                            </div>
                                   {% endif %}
                                    </div>
                                    </div>

                                   </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a href="#resetPassword" data-toggle="collapse">
                                                        <h6 class="text-center font-15">Reset Password</h6>
                                                    </a>
                                                </div>
                                            </div>


                                            <div class="panel-collapse collapse" id="resetPassword">
                                                {# {% password_change_form %} #}
                                                    <!--<form class="form-horizontal form-material" action="#{# {% url 'user:password_change' %} #}" method="POST">
                                                        {# {% csrf_token %} #}
                                                        {# {{ form.as_table }} #}
                                                            <div class="form-group">
                                                                <label class="col-md-12">Current Password</label>
                                                                <div class="col-md-12">
                                                                    <input type="password"  placeholder="**********" class="form-control form-control-line">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                    <label class="col-md-12">New Password</label>
                                                                    <div class="col-md-12">
                                                                        <input type="password" placeholder="**********" class="form-control form-control-line">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="col-md-12">Confirm Password</label>
                                                                        <div class="col-md-12">
                                                                            <input type="password" placeholder="**********" class="form-control form-control-line">
                                                                        </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-12">
                                                                        <button class="btn waves-effect waves-light btn-info hidden-md-down">Reset</button>
                                                                    </div>
                                                                </div>
                                                    </form>-->
                                    </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% if user.is_superuser %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#createUser" data-toggle="collapse">
                                                    <h6 class="text-center font-15">Create Another User</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-collapse collapse" id="createUser">

                                            {% signup_form %}
                                                <!---<form class="form-horizontal form-material" action="" method="POST">
                                                    {# {% csrf_token %} #}


                                                        <div class="form-group">
                                                            <label class="col-md-12">Username</label>
                                                            <div class="col-md-12">
                                                                <input type="text"  placeholder="Username" class="form-control form-control-line">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                                <label class="col-md-12">Password</label>
                                                                <div class="col-md-12">
                                                                    <input type="password" placeholder="**********" class="form-control form-control-line">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-12">Confirm Password</label>
                                                                    <div class="col-md-12">
                                                                        <input type="password" placeholder="**********" class="form-control form-control-line">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button class="btn waves-effect waves-light btn-info hidden-md-down">Create User</button>
                                                                </div>
                                                            </div>
                                                </form>--->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock %}