{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load ams_tags %}
{% block title %} Settings {% endblock %}
{% block preloader %} Settings Loading {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Settings</h3>
            </div>
            <div class="col-md-7 align-self-left">
                        <h6><a class="waves-effect waves-light pull-right" href="{% url 'users:change_password' %}">Change Password</a></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                {% if user.profile.all %}
                                    {% for profile in user.profile.all %}
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#userDetails" data-toggle="collapse">
                                                    <h6 class="text-center">User Details</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-collapse collapse" id="userDetails">
                                            <form class="form-horizontal form-material">
                                                <div class="form-group">
                                                    <label class="col-md-12 font-15">Full Name</label>
                                                    <div class="col-md-12">
                                                        <input type="text" disabled placeholder="{{ profile.first_name }} {{ profile.last_name }}" class="form-control form-control-line">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12 font-15">Email</label>
                                                    <div class="col-md-12">
                                                        <input type="text" disabled  placeholder="{{ profile.email }}" class="form-control form-control-line">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="#userDetails" data-toggle="collapse">
                                                <h6 class="text-center">Create Profile</h6>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-collapse collapse" id="userDetails">
                                        {% profile_form %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                {% if user.is_superuser %}
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="#resetPassword" data-toggle="collapse">
                                                <h6 class="text-center font-15">Admin Users</h6>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="#resetPassword" data-toggle="popover" title="Only Super Admin!" data-content="Only Super Admin can have access to this tab!">
                                                <h6 class="text-center font-15">Admin Users</h6>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="panel-collapse collapse" id="resetPassword">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Last Login</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% if object_list %}
                                                {% for user in object_list %}
                                                    <tr>
                                                        <td><a href="#{# {% url 'ams:department-detail' slug=department.slug %} #}">{{ user.username }}</a></td>
                                                        <td>{{ user.last_login }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <h3>There is no other Admin Users here!.</h3>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                {% if user.is_superuser %}
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="#createUser" data-toggle="collapse">
                                                <h6 class="text-center font-15">Create Another User</h6>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a href="#createUser" data-toggle="popover" title="Only Super Admin!" data-content="This feature is available for only the super admin!">
                                                <h6 class="text-center font-15">Create Another User</h6>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="panel-collapse collapse" id="createUser">
                                    {% signup_form %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}