{% extends 'layout.html' %}
{% load ams_tags %}
{% block title %} Hardware {% endblock %}
{% block preloader %} Hardware Loading...{% endblock %}
{% block content %}
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Hardware</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <i class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" data-target="#exampleModalLong"><span class="fa fa-plus-square-o"></span></i>
                        <a class="btn waves-effect waves-light pull-right font-20" href="{% url 'ams:assets-hardware-archive' %}"><span class="fa fa-folder-open-o"></span></a>
                    </div>                        <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Hardware</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        {% hardware_form %}
                                    </div>
                                </div>
                                </div>
                            </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->

                    <!-- column -->
                    <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                        <div>
                                                <!--<h5 class="card-title m-b-0">Hardware</h5>-->
                                            </div>
                                            <div class="ml-auto">
                                                    <h6 class="nav-item dropdown card-subtitle list-inline text-right font-12">
                                                            <a class="dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export to</a>
                                                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                              <a class="dropdown-item font-12" href="#"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                                              <a class="dropdown-item font-12" href="#"><i class="fa fa-file-pdf-o"></i> Excel</a>

                                                            </div>
                                                    </h6>
                                                    <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                                            </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Serial No.</th>
                                                    <th>Brand</th>
                                                    <th>Model</th>
                                                    <th>Purchased On</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% if object_list %}
                                            {% for hardware in object_list %}
                                                    <tr>

                                                        <td><a href="{% url 'ams:assets-hardware-detail' slug=hardware.slug %}">{{ hardware.description }}</a></td>
                                                        <td>{{ hardware.serial_number }}</td>
                                                        <td>{{ hardware.brand }}</td>
                                                        <td>{{ hardware.model_number }}</td>
                                                        <td>{{ hardware.purchase_date }}</td>
                                                        <td>{{ hardware.status }}</td>

                                                    </tr>
                                            {% endfor %}

                                            {% else %}
                                                <h3>There is no hardware stored in the system!.</h3>
                                            {% endif %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>

{% endblock %}
