{% extends 'layout.html' %}
{% load ams_tags %}
{% block title %} Staff {% endblock %}
{% block preloader %} Staff Loading {% endblock %}
{% block content %}
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Staff</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <a class="btn waves-effect waves-light pull-right font-20" href="#" data-toggle="modal" title="Click to add Staff!" data-target="#staffModal"><span class="fa fa-plus-square-o"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" href="{% url 'ams:staff-archive-list' %}" data-toggle="tooltip" title="Click to view all archived staff!"><span class="fa fa-archive"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 align-self-center">

            </div>
            <div class="col-md-7 align-self-center">
                <div class="pull-right pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" title="click to previous"><span class="fa fa-arrow-left"></span></a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" title="click to next"><span class="fa fa-arrow-right"></span></a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
        <div class="row">
            {% if staffs %}
            {% for staff in staffs %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'ams:staff-detail' slug=staff.slug %}">
                        <div class="card">
                            <div class="card-body" data-toggle="tooltip" title="Click to view {{ staff.full_name }}'s details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h1 class="jq-icon-success text-center"><i class="fa fa-user-circle-o"></i></h1>
                                    </div>
                                    <div class="col-md-8 pull-right">
                                        <h6 class="pull-right">
                                            {{ staff.full_name | truncatechars:10 }}
                                        </h6>
                                    </div>
                                </div><p>
                                <hr>
                                <div class="pull-left">
                                    <h7>Dept:
                                    {% if department %}
                                        {% for department in department %}
                                            {% if department.staff == staff %}
                                                 {{ department.department | truncatechars:10 }}</h7>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="pull-right">
                                    {% if lead %}
                                        {% for lead in lead %}
                                            {% if lead.staff == staff %}
                                                <span title="{{ staff.full_name }} is a Scrum Master" class="fa fa-star"></span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>


                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

        <div id="staffModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true" role="dialog">
            <div class="modal-dialog" role="document">

          <!-- Add Staff Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add Staff</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    {% staff_form %}

                </div>
            </div>
            </div>
        </div>
            <!---Assign Hardware Modal-->
    </div>

{% endblock %}