{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title %} {{ object.first_name }} Details {% endblock %}
{% block preloader %} Staff Archive Details Loading...{% endblock %}
{% block content %}
    <!--Put Body Here-->
    <div class="row page-titles">
        <div class="col-md-3 align-self-left">
                <a href="{% url 'ams:staff-archive-list' %}" class="btn btn-primary pull-left" role="button">Go Back</a>&nbsp;&nbsp;
            </div>
        <div class="col-md-5 align-self-left"><h3>{{ object.first_name }} {{ object.last_name }}'s Details</h3></div>
    </div>
    <div class="row">
                    <!-- column -->
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0">General Information</h5>
                    </div><p>
                    <div class="card-text">
                        Full Name: {{ object.first_name }} {{ object.last_name }} <br>
                        Official Email: {{ object.work_email }} <br>
                        Work Phone: {{ object.work_phone }}<br>
                        Home Phone: {{ object.home_phone }}<br>
                        Gender: {{ object.gender }}<br>
                        Residential Address: {{ object.residential_address }}<br>
                        Date of Birth: {{ object.date_of_birth }}<br>
                        {% if department %}
                            {% for department in department %}
                                {% if department.staff == object %}
                                    Department: {{ department.department }}<br>
                                    {% if department.department.team_leads %}
                                    Team Lead: {{ department.department.team_leads }}<br>
                                    {% else %}
                                    Department has no Lead<br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        Date Added: {{ object.date_added }}<br>
                        Archived On: {{ object.deleted_at }}
                        <hr>
                            <div class="row">
                            <div class="col-md-8 align-self-center">

                            </div>
                            <div class="col-md-4 align-self-center">
                                <form action="{% url 'ams:staff-restore' slug=staff.slug %}" method="POST">
                                    {% csrf_token %}
                                    <button title="click to restore {{ object.full_name }}" class="btn btn-outline-success pull-right"><span class="fa fa-undo"></span> Restore</button>
                                 </form>
                            </div>
                        </div>          <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}