{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load ams_tags %}
{% block title %} Assets {% endblock %}
{% block preloader %} Assets Loading... {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="col-md-12 align-self-center">
        <h3>
         <ul class="nav nav-tabs">
            <li><a href="#home" data-toggle="tab" title="Click to expand!">Hardware</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a data-toggle="tab" href="#menu1">Information</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a data-toggle="tab" href="#menu2">Infrastructure</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a data-toggle="tab" href="#menu3">Software</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a data-toggle="tab" href="#menu4">All</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <li><a data-toggle="tab" href="#menu5">Archives</a></li>
        </ul>
        </h3>
    </div>


  <div class="tab-content">
    <div id="home" class="tab-pane fade">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center text-themecolor">Hardware</div>
            <div class="col-md-7 align-self-left">
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" title="Click to add a hardware asset!" data-target="#hardwareModal" href="#"><span class="fa fa-plus"></span></a>
                <a href="#" class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" title="Click to assign a hardware asset to a staff!" data-target="#assignHard" ><span class="fa fa-plus-square"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="tooltip" title="Click to view all archived hardware assets!" href="{% url 'ams:assets-hardware-archive-list' %}"><span class="fa fa-archive"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" data-target="#hardwareOwner" title="Click to assign a team lead ownership of a hardware!" href="#{# {% url 'ams:assets-hardware-archive-list' %} #}"><span class="fa fa-paper-plane-o"></span></a>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><h6></h6></th>
                                    <th><h6>Description</h6></th>
                                    <th><h6>Status</h6></th>
                                    <th><h6>Serial Number</h6></th>
                                    <th><h6>Brand</h6></th>
                                    <th><h6>Model Number</h6></th>
                                    <th><h6>Purchase Date</h6></th>
                                    <th><h6>Actions</h6></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if hardware %}
                                {% for hardware in hardware %}
                                <tr>
                                    {% if hardware.image %}
                                        <td><img src="{{ hardware.image.url }}" height="40" width="50" border="1" alt="no image to show" /></td>
                                        {% else %}
                                        <td><img src="#" height="40" width="50" border="1" /></td>
                                        {% endif %}
                                    <td><a data-toggle="tooltip" title="Click to view details of {{ hardware.description }}" href="{% url 'ams:assets-hardware-detail' slug=hardware.slug %}" class="font-15">{{ hardware.description }}</a></td>
                                    <td><span class="font-15">{{ hardware.status }}</span></td>
                                    <td><span class="font-15">{{ hardware.serial_number }}</span></td>
                                    <td><span class="font-15">{{ hardware.brand }}</span></td>
                                    <td><span class="font-15">{{ hardware.model_number }}</span></td>
                                    <td><span class="font-15">{{ hardware.purchase_date }}</span></td>
                                    <td><a href="{% url 'ams:assets-hardware-archive' slug=hardware.slug %}" data-toggle="modal" data-target="#archiveHardware"><span class="font-15 fa fa-archive"></span></a></td>
                                </tr>

                                {% endfor %}
                            {% else %}
                                There is no hardware recorded in this system. Please click on the New+ to add.
                            {% endif %}
                            </tbody>

                        </table>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>

    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center text-themecolor">Information</div>
            <div class="col-md-7 align-self-left">
                <a href="#" class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" title="Click to add an information asset!" data-target="#informationModal"><span class="fa fa-plus-square-o"></span></a>
                <a href="#" class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" title="Click to assign an information asset to a staff!" data-target="#assignInfo" ><span class="fa fa-plus-square"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="tooltip" title="Click to view all archived information assets!" href="{% url 'ams:assets-information-archive-list' %}"><span class="fa fa-archive"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" title="Click to assign a team lead ownership of an information!" data-target="#informationOwner" href="#{# {% url 'ams:assets-hardware-archive-list' %} #}"><span class="fa fa-paper-plane-o"></span></a>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                       <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Status</th>
                                <th>File Type</th>
                                <th>Published By</th>
                                <th>Published Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if information %}
                                {% for information in information %}
                                    <tr>
                                        <td><a href="{% url 'ams:assets-information-detail' slug=information.slug %}">{{ information.description }}</a></td>
                                        <td>{{ information.status }}</td>
                                        <td>{{ information.file_type }}</td>
                                        <td>{{ information.published_by }}</td>
                                        <td>{{ information.publish_date }}</td>                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h3>There is no information stored in the system!.</h3>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Column -->
                </div>

            </div>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
          <div class="row page-titles">
            <div class="col-md-5 align-self-center text-themecolor">Infrastructure</div>
            <div class="col-md-7 align-self-center">
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" href="#" title="Click to add infrastructure assets!" data-target="#infrastructureModal"><span class="fa fa-plus-square-o"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" href="#" title="Click to assign an infrastructure to a staff" data-target="#assignInfras"><span class="fa fa-plus-square"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="tooltip" title="Click to view all archived infrastructure assets" href="{% url 'ams:assets-infrastructure-archive-list' %}"><span class="fa fa-archive"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" data-target="#infrastructureOwner" title="Click to assign a team lead ownership of a infrastructure!" href="#{# {% url 'ams:assets-hardware-archive-list' %} #}"><span class="fa fa-paper-plane-o"></span></a>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Comments</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if infrastructure %}
                                {% for infrastructure in infrastructure %}
                                    <tr>
                                        {% if infrastructure.image %}
                                        <td><img src="{{ infrastructure.image.url }}" height="40" width="50" border="1" /></td>
                                        {% else %}
                                        <td><img src="#" height="40" width="50" border="1" alt="no image to show" /></td>
                                        {% endif %}
                                        <td><a data-toggle="tooltip" title="Click to view details of {{ infrastructure.description }}" href="{% url 'ams:assets-infrastructure-detail' slug=infrastructure.slug %}">{{ infrastructure.description }}</a></td>
                                        <td>{{ infrastructure.status }}</td>
                                        <td>{{ infrastructure.comments }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h3>There is no infrastructure stored in the system!.</h3>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center text-themecolor">Software</div>
            <div class="col-md-7 align-self-center">
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" href="#" title="Click to add software assets!" data-target="#softwareModal"><span class="fa fa-plus-square-o"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" href="#" title="Click to assign software asset to a staff!" data-target="#assignSoft"><span class="fa fa-plus-square"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="tooltip" title="Click to view all archived software assets!" href="{% url 'ams:software-assets-archive-list' %}"><span class="fa fa-archive"></span></a>
                <a class="btn waves-effect waves-light pull-right font-20" data-toggle="modal" data-target="#softwareOwner" title="Click to assign a team lead ownership of a software!" href="#{# {% url 'ams:assets-hardware-archive-list' %} #}"><span class="fa fa-paper-plane-o"></span></a>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Description</th>
                                <th>Purchased On</th>
                                <th>Expires On</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if software %}
                                {% for software in software %}
                                    <tr>
                                        {% if software.image %}
                                        <td><img src="{{ software.image.url }}" height="40" width="50" border="1" /></td>
                                        {% else %}
                                        <td><img src="#" height="40" width="50" border="1" alt="no image to show!" /></td>
                                        {% endif %}
                                        <td><a data-toggle="tooltip" title="Click to view details of {{ software.description }}" href="{% url 'ams:assets-software-detail' slug=software.slug %}">{{ software.description }}</a></td>
                                        <td>{{ software.purchase_date }}</td>
                                        <td>{{ software.expiry_date }}</td>
                                        <td>{{ software.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h3>There is no software stored in the system!.</h3>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
    </div>
    <div id="menu4" class="tab-pane active">
      <div class="card">
        <div class="card-header">All Assets</div>
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><h6></h6></th>
                                    <th><h6>Description</h6></th>
                                    <th><h6>Type</h6></th>
                                    <th><h6>Status</h6></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if assets %}
                                {% for asset in assets %}
                                <tr>
                                    {% if asset.image %}
                                        <td><img src="{{ asset.image.url }}" height="40" width="50" border="1" /></td>
                                    {% else %}
                                        <td><img src="#" height="40" width="50" border="1" alt="no image to show!" /></td>
                                    {% endif %}
                                    <td><span class="font-15">{{ asset.description }}</span></td>
                                    <td><span class="font-15">{{ asset.asset_type }}</span></td>
                                    <td><span class="font-15">{{ asset.status }}</span></td>
                                </tr>

                                {% endfor %}
                            {% else %}
                                There is no staff recorded in this system. Please click on the plus icon to add.
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
    </div>
    <div id="menu5" class="tab-pane fade">
      <div class="card">
        <div class="card-header">Archives</div>
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-11 col-xlg-12 col-md-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><h6></h6></th>
                                    <th><h6>Description</h6></th>
                                    <th><h6>Type</h6></th>
                                    <th><h6>Status</h6></th>
                                    <th><h6>Archived On</h6></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if assets %}
                                {% for archive in archives %}
                                <tr>
                                    {% if archive.image %}
                                        <td><img src="{{ archive.image.url }}" height="40" width="50" border="1" /></td>
                                    {% else %}
                                        <td><img src="#" height="40" width="50" border="1" alt="No image to show!" /></td>
                                    {% endif %}
                                    <td><a href="#{# {% url 'ams:staff-detail' slug=staff.slug %} #}" class="font-15">{{ archive.description }} {{ staff.last_name }}</a></td>
                                    <td><span class="font-15">{{ archive.asset_type }}</span></td>
                                    <td><span class="font-15">{{ archive.status }}</span></td>
                                    <td><span class="font-15">{{ archive.deleted_at }}</span></td>
                                </tr>

                                {% endfor %}
                            {% else %}
                                There is no staff recorded in this system. Please click on the New+ to add.
                            {% endif %}
                            </tbody>

                        </table>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!----Modals----->
    <!--Hardware-->
    <div class="modal fade" id="hardwareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Hardware</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% hardware_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Hardware Assign-->
    <div class="modal fade" id="assignHard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hardware Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% hardware_assign_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Hardware Owner-->
    <div class="modal fade" id="hardwareOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Hardware Owner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% hardware_owner_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Software-->
    <div class="modal fade" id="softwareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Software</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% software_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Software Assign-->
    <div class="modal fade" id="assignSoft" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Software to Staff</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% software_assign_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Software Owner-->
    <div class="modal fade" id="softwareOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Software Owner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% software_owner_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Information-->
    <div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% information_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Information Assign-->
    <div class="modal fade" id="assignInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Information Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% information_assign_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Information Owner-->
    <div class="modal fade" id="informationOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Information Owner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% information_owner_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Infrastructure-->
    <div class="modal fade" id="infrastructureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Infrastructure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% infrastructure_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Infrastructure Assign-->
    <div class="modal fade" id="assignInfras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Infrastructure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% infrastructure_assign_form %}
                </div>
            </div>
        </div>
    </div>
    <!--Infrastructure Owner-->
    <div class="modal fade" id="infrastructureOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Infrastructure Owner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% infrastructure_owner_form %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="archiveHardware" tabindex="-1" role="dialog" aria-labelledby="deleteModaTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveHardware">Archive {{ object.description }}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'ams:assets-list' %}" method="POST" class="form-horizontal form-material">
                        {% csrf_token %}
                        You are about to archive {{ hardware.description }}. This action can reserved in the Hardware Archives. Take Note. Capish!!
                        <hr>
                        <button class="btn btn-danger">Archive</button>
                        <button class="btn btn-default" data-dismiss="modal">Dismiss</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}