{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% block preloader %} Dashboard Loading {% endblock %}

{% block content %}
    <div class="align-self-center">
            <h3 class="text-themecolor"> Staff </h3>
        </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
        <a href="{% url 'ams:staff-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Staff({{ staffs }})</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if staffs %}
                                    {{ staffs }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:staff-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Archived Staff</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if staffs_archive %}
                                    {{ staffs_archive }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="align-self-center">
            <h3 class="text-themecolor">Departments({{ departments }}) </h3>
        </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
        <a href="{% url 'ams:department-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Departments</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if departments %}
                                    {{ departments }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:department-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Archived Departments</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if departments_archive %}
                                    {{ departments_archive }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="align-self-center">
            <h3 class="text-themecolor"> Assets ({{ assets }})</h3>
        </div>
    <hr>
    <!--- Assets Count --->
    <div class="row">
        <div class="col-md-3">
        <a href="{% url 'ams:assets-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Hardware</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if hardware %}
                                    {{ hardware }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:assets-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Software</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if software %}
                                    {{ software }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:assets-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Information</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if information %}
                                    {{ information }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:assets-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Infrastructure</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if infrastructure %}
                                    {{ infrastructure }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="align-self-center">
            <h3 class="text-themecolor"> Archived Assets ({{ assets_archive }})</h3>
        </div>
    <hr>
    <!--- Archived Assets Count --->
    <div class="row">
        <div class="col-md-3">
        <a href="{% url 'ams:assets-hardware-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Hardware</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if hardware_a %}
                                    {{ hardware_a }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:software-assets-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Software</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if software_a %}
                                    {{ software_a }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:assets-information-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Information</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if information_a %}
                                    {{ information_a }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{% url 'ams:assets-infrastructure-archive-list' %}">
            <div class="card border border-info">
                <div class="card-body">
                    <div>
                        <h5 class="card-title m-b-0 text-center">Infrastructure</h5>
                    </div><p>
                    <div class="ml-auto">
                        <h3 class="nav-item dropdown card-text text-center">
                                {% if infrastructure_a %}
                                    {{ infrastructure_a }}
                                {% else %}
                                    0
                                {% endif %}
                        </h3>
                        <!--<h6 class="card-subtitle list-inline text-right font-12"><a href="#"> Export to PDF</a></h6>-->
                    </div>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="profileModal" aria-hidden="true" style="z-index:999999">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="modal-body">POPUP OPEN</div>
            </div>
        </div>
    </div>
{% endblock %}

