{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %} Dashboard {% endblock %}
{% block preloader %} Dashboard Loading {% endblock %}

{% block content %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"> Dashboard </h3>
        </div>
        <div class="col-md-7 align-self-center">
            <a href="{% url 'users:dashboard_bi' %}" title="Click for Power Bi Analytics"><img class="pull-right" src="{% static 'assets/images/bi.png' %}" height="35" width="60" ></a>
        </div>
    </div>


    <hr>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="{% url 'ams:staff-list' %}">
                <div class="card">
                    <div class="card-body" data-toggle="tooltip" title="Click to View All Staff">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="jq-icon-success text-center"><i class="fa fa-user-circle-o"></i></h1>
                            </div>
                            <div class="col-md-8 pull-right">
                                <h6 class="pull-right">
                                    Staff: {{ staffs }}
                                </h6>
                            </div>
                        </div><p>
                        <div class="ml-auto">
                        </div>
                        <hr>
                            <div class=" pull-left">
                                <h7>New: {{ staff_r|truncatechars:10 }}</h7>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'ams:staff-archive-list' %}" data-toggle="tooltip" title="Staff Archives"><span class="fa fa-archive"></span> {{ staffs_archive }} </a>
                            </div>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="{% url 'ams:department-list' %}">
                <div class="card">
                    <div class="card-body" data-toggle="tooltip" title="Click to View All Departments">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="jq-icon-warning text-center"><i class="fa fa-users"></i></h1>
                            </div>
                            <div class="col-md-8 pull-right">
                                <h6 class="pull-right">
                                    Departments: {{ departments }}
                                </h6>
                            </div>
                        </div><p>
                        <div class="ml-auto">
                        </div>
                        <hr>
                        <div class="pull-left">
                            <h7>New: {{ departments_r|truncatechars:10 }}</h7>
                        </div>
                        <div class="pull-right">
                            <a href="{% url 'ams:department-archive-list' %}" data-toggle="tooltip" title="Department Archives"><span class="fa fa-archive"></span> {{ departments_archive }} </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="{% url 'ams:assets-list' %}">
                <div class="card">
                    <div class="card-body" data-toggle="tooltip" title="Click to View All Assets">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="jq-icon-error text-center"><i class="fa fa-table"></i></h1>
                            </div>
                            <div class="col-md-8 pull-right">
                                <h6 class="pull-right">
                                    Assets: {{ assets }}
                                </h6>
                            </div>
                        </div><p>
                        <div class="ml-auto">
                        </div>
                        <hr>
                        <div class="pull-left">
                            <a href="{% url 'ams:assign-list' %}" data-toggle="tooltip" title="Assigned Assets"><span class="fa fa-tasks"></span> {{ assets_assigned }} </a>
                            <a href="{% url 'ams:assign-list' %}" data-toggle="tooltip" title="Returned Assets"><span class="fa fa-mail-reply-all"></span> {{ assets_returned }} </a>
                        </div>
                        <div class="pull-right">
                            <a href="{% url 'ams:assets-list' %}" data-toggle="tooltip" title="Assets Archives"><span class="fa fa-archive"></span> {{ assets_archive }} </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="{% url 'ams:settings' %}">
                <div class="card">
                    <div class="card-body" data-toggle="tooltip" title="Click to View All Users">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="jq-icon-info text-center"><i class="fa fa-user-secret"></i></h1>
                            </div>
                            <div class="col-md-8 pull-right">
                                <h6 class="pull-right">
                                    Users: {{ users }}
                                </h6>
                            </div>
                        </div><p>
                        <div class="ml-auto">
                        </div>
                        <hr>
                        <div class="pull-left">
                            <h7>New: {{ users_r|truncatechars:10 }}</h7>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12 col-xlg-13 col-md-11">
            <table class="table">
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Assets</th>
                        <th>Staff</th>
                        <th>Department</th>
                        <th>Check</th>
                        <th>Check At</th>
                        <th>Approved</th>
                        <th>At</th>
                        <th>Returned</th>
                        <th>At</th>
                    </tr>
                </thead>
                <tbody>
                {% for all_a in all_a %}
                    <tr>
                        {% if all_a.assets.image %}
                            <td><img src="{{ all_a.assets.image.url }}" height="40" width="50" border="1" /></td>
                        {% else %}
                            <td><img src="#" height="40" width="50" border="1" alt="no image" /></td>
                        {% endif %}
                        <td>{{ all_a.assets }}</td>
                        <td>{{ all_a.staff }}</td>
                        {% for depart_a in depart_a %}
                            {% if depart_a.staff == all_a.staff %}
                                <td>{{ depart_a.department }}</td>
                            {% else %}
                                <td>Not Allocated</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ all_a.assign_by }}</td>
                        <td>{{ all_a.date_assigned }}</td>
                        {% if all_a.approve == False %}
                        <td class="font-20 text-center"><span class="fa fa-thumbs-o-down"></span></td>
                        {% else %}
                        <td class="font-20 text-center"><span class="fa fa-thumbs-o-up"></span></td>
                        {% endif %}
                        <td>{{ all_a.approve_date }}</td>
                        {% if all_a.return_it == False %}
                        <td class="font-20 text-center"><span class="fa fa-thumbs-o-down"></span></td>
                        {% else %}
                        <td class="font-20 text-center"><span class="fa fa-thumbs-o-up"></span></td>
                        {% endif %}
                        <td>{{ all_a.return_on }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

